@model testRAF.Models.LoginModel

@{
    ViewBag.Title = "Listeraf / Giriş Yap";
}
@section style{
    <style type="text/css">
        .form-control {
            font-size: 16px;
            transition: all 0.4s;
            box-shadow: none;
        }

            .form-control:focus {
                border-color: #5cb85c;
            }

        .form-control, .btn {
            border-radius: 50px;
            outline: none !important;
        }

        .signin-form {
            width: 400px;
            margin: 0 auto;
            padding: 30px 0;
        }

            .signin-form form {
                border-radius: 5px;
                margin-bottom: 20px;
                background: #fff;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                padding: 40px;
            }

            .signin-form a {
                color: #5cb85c;
            }

            .signin-form h2 {
                text-align: center;
                font-size: 34px;
                margin: 10px 0 15px;
            }

            .signin-form .hint-text {
                color: #999;
                text-align: center;
                margin-bottom: 20px;
            }

            .signin-form .form-group {
                margin-bottom: 20px;
            }

            .signin-form .btn {
                font-size: 18px;
                line-height: 26px;
                font-weight: bold;
                text-align: center;
            }

            .signin-form .small {
                font-size: 13px;
            }
                .signin-form .small a {
                    color: #11df5b;
                }



    </style>
}


@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <div class="signin-form text-center" style="height:600px">

        <h2>Giriş Yap</h2>
        @*<p class="hint-text">Sosyal Medya hesabınızla giriş yapın</p>
        <div class="social-btn text-center">
            <a href="#" class="btn btn-primary btn-lg" title="Facebook"><i class="fab fa-facebook"></i></a>
            <a href="#" class="btn btn-info btn-lg" title="Twitter"><i class="fab fa-twitter"></i></a>
            <a href="#" class="btn btn-danger btn-lg" title="Google"><i class="fab fa-google"></i></a>
        </div>
        <div class="or-seperator"><b>veya</b></div>*@
        <div class="form-group">
            @Html.TextBoxFor(model => model.Email, new { @class = "reg-log-input", placeholder = "Email", Required = "required", type = "Email" })
            @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(model => model.Password, new { @class = "reg-log-input", placeholder = "Şifre", Required = "required" })
            @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <button type="submit" class=" reg-log-buton" style="width:400px">Giriş Yap</button>
        </div>
        @Html.ValidationMessage("Error", null, new { @class = "text text-danger" })
        @*<div class="text-center small"><a href="#">Şifremi unuttum</a></div>*@
        <br /><br />
        <div class="text-center small">Hesabın yok mu?<a href="/Account/Register"> Kaydol</a></div>
        
    </div>
}